.events-component {
  background-image: url("../images/forest.jpg");
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  color: #fffff0;
  /* Removed align-items: center; to allow child elements to span full width */
}
.event-title {
  font-family: "Philosopher" !important;
  font-size: 2rem;
  color: #fffff0;
  font-weight: bold;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  line-height: 1;
  margin-top: 20px;
}

.event-name {
  margin: 0 0 10px 0 !important; /* Zero margin on top, right, and a bit of margin at the bottom for spacing */
  padding: 0; /* Resets any padding */
  font-family: "Philosopher", sans-serif; /* Ensures the font family applies */
  font-size: 1.5rem; /* Adjusts font size for visibility */
  font-weight: bold; /* Makes it stand out */
  color: #fffff0; /* Maintains the color */
  align-self: flex-start; /* Aligns to the start of the flex container */
}

.event-entry {
  border-radius: 5px;
  height: 140px;
  width: 95%; /* Or 100% if you want it to span the full width */
  margin: 10px auto; /* Maintains the centered alignment with auto margins */
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box; /* Include padding and border in the element's total width */
  background-color: #f1efec54;
  transition: all 0.1s ease-in-out;
}
.event-entry:hover {
  border-radius: 5px;
  width: 95%; /* Or 100% if you want it to span the full width */
  margin: 10px auto; /* Maintains the centered alignment with auto margins */
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box; /* Include padding and border in the element's total width */
  background-color: #3636359a;
  transition: all 0.1s ease-in-out;
}

.date-box {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-size: cover; /* Ensure the background covers the area, might adjust per box for best visual */
  background-position: center; /* Center the background image */
  margin-right: 20px;
  border-radius: 5px;
  font-family: "Philosopher";
  /* Applying a consistent box-shadow or border can also enhance the uniform look */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional */
}

/* Ensuring consistent size across device widths */
@media only screen and (max-width: 600px) {
  .date-box {
    width: 100px; /* Slightly reduce size on smaller screens if necessary */
    height: 100px;
    margin-right: 10px; /* Adjust margin for smaller screens */
    background-size: 120%; /* Adjust if you're changing the size of the box */
  }

  .event-name {
    font-size: 1rem !important;
    font-family: "sarif";
  }
}

/* Specific date-box classes for different images */
.date-box.aniv,
.date-box.dublin,
.date-box.first,
.date-box.upcoming,
.date-box.upcoming.alt {
  background-size: 100%;
  margin-right: 20px;
}

.date-box.aniv {
  background-image: url("../images/cc2023.jpg");
}
.date-box.dublin {
  background-image: url("../images/wc2019.png");
}
.date-box.first {
  background-image: url("../images/cc2018.jpg");
}
.date-box.upcoming {
  background-image: url("../images/cafe.jpg");
}
.date-box.upcoming.alt {
  background-image: url("../images/cc2024.jpg");
}

.day,
.month {
  font-weight: bold;
  color: #16161d;
}

.event-details {
  text-align: left;
  justify-content: space-between;
  gap: 25px;
}

.event-info,
.event-location {
  display: flex;
  align-items: center;
}

.event-info ion-icon,
.event-location ion-icon {
  margin-right: 5px;
}

.list-holder {
  display: flex;
  flex-direction: column;
}

/* Adjust icon size if necessary */
ion-icon {
  font-size: 20px; /* Example size */
}

.date-box {
  border-radius: 5px;
  font-family: "Philosopher";
}

.past h2,
.upcoming h2 {
  margin: 15px;
  font-size: larger;
  color: #fffff0;
}

.upcoming li {
  width: 100%;
}

@media only screen and (min-width: 900px) {
  .date-box.aniv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-image: url("../images/cc2023.jpg");
    background-size: contain;
    background-position: center;

    margin-right: 20px;
  }
  .date-box.dublin {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-image: url("../images/wc2019.png");
    background-size: contain;
    margin-right: 20px;
    background-position: center;

    margin-right: 20px;
  }
  .date-box.first {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-image: url("../images/cc2018.jpg");
    background-size: contain;
    margin-right: 20px;
    background-position: center;

    margin-right: 20px;
  }
  .date-box.upcoming {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-image: url("../images/cafe.jpg");
    background-size: contain;
    margin-right: 20px;
    background-position: center;

    margin-right: 20px;
  }
  .date-box.upcoming.alt {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-image: url("../images/cc2024.jpg");
    background-size: contain;
    margin-right: 20px;
    background-position: center;

    margin-right: 20px;
  }

  .list-holder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .upcoming li {
    width: 40%;
  }

  .event-entry {
    border-radius: 5px;
    width: 95%; /* Or 100% if you want it to span the full width */
    flex: 1 1 calc(33.333% - 20px); /* Adjusts the basis to fit 3 items per row, accounting for some margin */
    margin: 10px; /* Maintains the centered alignment with auto margins */
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box; /* Include padding and border in the element's total width */
    transition: all 0.1s ease-in-out;
  }
  .event-entry:hover {
    border-radius: 5px;
    width: 95%; /* Or 100% if you want it to span the full width */
    flex: 1 1 calc(33.333% - 20px); /* Adjusts the basis to fit 3 items per row, accounting for some margin */
    margin: 10px; /* Maintains the centered alignment with auto margins */
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #3636359a;
    box-sizing: border-box; /* Include padding and border in the element's total width */
    transform: scale(1.01);
    transition: all 0.1s ease-in-out;
  }
}
