.home-container {
  width: 100vw;
  z-index: 10;
  display: flex;
  flex-direction: column;
}
button {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.columns {
  padding-top: 125px !important;
  padding: 20px;
  background: #dcdbc8;
  background-image: url("../images/forest.png");
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  backdrop-filter: blur(8px);
}

.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 900px) {
  .main-title {
    font-size: 8rcap !important;
  }
  .center-column {
    padding: 10px;
    margin-left: 15%;
    align-items: flex-start;
    width: 40%; /* Align items to the start (left) */
  }

  .columns {
    display: flex;
    flex-direction: row;
  }

  .main-title {
    align-self: flex-start; /* Align the title to the start (left) */
    /* Remove padding if needed for alignment */
  }

  .button-group {
    align-self: center;
  }
}

.main-title {
  font-family: "Philosopher" !important;
  font-size: 3rcap;
  color: #fffff0;
  font-weight: bold;
  padding: 0.75rem;
  display: flex;
  margin-bottom: 20px;
  line-height: 1;
}

.intro-text {
  font-family: "Fira Sans", sans-serif;
  line-height: 2;
  text-align: left;
  font-size: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  width: 83.333333%;
  color: #fffff0;
  display: flex;
}

.button-group {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.25rem;
  margin-top: 1rem;
  justify-content: center;
}

.contact-button {
  background-color: #ab8f59;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.15s;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.social-button {
  background-color: #ab8f59;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.15s;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.contact-button:hover,
.social-button:hover {
  background-color: #9dbf9e;
  color: #16161d;
  transform: translateY(-2px);
  box-shadow: 0 5px 8px -1px rgba(0, 0, 0, 0.2),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.image-column {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.presentation-image {
  width: 100%;
  max-width: 20rem;
  padding: 1.25rem;
  align-self: center;
  justify-content: center;
}
