.my-art-container {
  background-color: #f0fff0;
  background-image: url("../images/forest.png");
  max-width: 100vw;
  z-index: 10;
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-art-container h1 {
  font-family: "Philosopher";
  color: #fffff0;
  font-weight: bolder;
  margin-top: 30px;
  font-size: 45px;
  margin-bottom: 40px;
}

.my-art-container h2 {
  color: #16161d;
  margin: 8px;
  margin-bottom: 0px;
  font-family: "Philosopher";
  font-weight: bolder;
  font-size: larger;
  align-self: flex-start;
}

.social-card {
  font-family: "Fira Sans";
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.social-card button {
  background-color: #ab8f59;
  border-radius: 0.5rem;
  color: white;

  font-size: 1rem;
  transition: all 0.15s;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.social-card button:hover {
  margin-top: 20px;
  font-size: 1rem;
  background-color: #9dbf9e;
  color: #16161d;
  box-shadow: 0 5px 8px -1px rgba(0, 0, 0, 0.2),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.work-card span {
  align-self: flex-start;
  color: #16161d;
  font-size: small;
  text-align: left;
  line-height: 18px;
  margin: 8px;
}

.work-column {
  display: flex;
  flex-direction: column;
}

.work-card {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 2px;
  width: 90vw;
  margin-bottom: 10px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.02);
}

.social-box {
  border-radius: 5px;
  margin-top: 5px;
  padding: 20px;
  background-image: url("../images/forest.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-box span {
  font-family: "Fira Sans";
  font-size: 1rem;
  margin-bottom: 20px;
}

.social-box button {
  background-color: #ab8f59;
  width: 20%;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.15s;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.social-box button:hover {
  background-color: #9dbf9e;
  color: #16161d;
  transform: translateY(-2px);
  box-shadow: 0 5px 8px -1px rgba(0, 0, 0, 0.2),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.work-card img {
  align-self: center;
  border-style: solid;
  width: 80vw;
}

.work-card-additional {
  display: none;
}

.work-card-additional img {
  align-self: center;
  border-style: solid;
  width: 80vw;
}

@media only screen and (min-width: 900px) {
  .work-column {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .work-card {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(50px);
    padding: 10px;
    border-radius: 2px;
    width: 20vw;
    margin-bottom: 10px;
  }

  .work-card-additional {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(50px);
    padding: 10px;
    border-radius: 2px;
    width: 20vw;
    margin-bottom: 10px;
  }

  .work-card-additional span {
    align-self: flex-start;
    color: #16161d;
    font-size: small;
    text-align: left;
    line-height: 18px;
    margin: 8px;
  }
}
