.navbar-container {
  position: fixed;
  display: flex;

  flex-direction: row;
  top: 0;
  width: 100vw;
  padding: 0.5rem;
  font-family: "Fira Sans", sans-serif;
  font-size: 0.875rem; /* equivalent to Tailwind's text-sm */
  z-index: 50;
  background-color: #6074598e;
  /* rgba for bg-sage-200 with opacity-50 */
  backdrop-filter: blur(20px); /* equivalent to backdrop-blur-lg */
  height: 65px;
}

.navbar-container h1 {
  font-family: "Philosopher";
}

.navbar-list {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 1.5rem; /* equivalent to space-x-6 */
}

.navbar-item {
  color: #16161d;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  opacity: 0.75;
}

.navbar-title {
  margin-right: 30px;
  align-self: center;
  font-size: 1.2rem; /* equivalent to text-md */
  color: #16161d;
  font-weight: bold;
}
